<img class="splash__logo" src="../assets/images/icons/Logo.svg" alt="Magic click">
<span class="splash__gradient splash__gradient--blue splash__gradient--top-left"></span>
<span class="splash__gradient splash__gradient--blue splash__gradient--top-right"></span>
<span class="splash__gradient splash__gradient--brown splash__gradient--bottom-left"></span>
<span class="splash__gradient splash__gradient--brown splash__gradient--bottom-right"></span>

<!-- <div class="splash__content content" 
    w3-include-html="./components/splash/content/splash-content.html">
</div> -->

<!-- <div class="modal" 
    w3-include-html="./components/splash/content/sign-up.html">
</div> -->

<div class="modal" w3-include-html="./components/splash/content/log-in.html">
</div>

<div class="personage" w3-include-html="./components/personage.html">
</div>