<div class="splash">
    <img class="splash__logo" src="../assets/images/Logo.svg" alt="Magic click">
    <span class="splash__gradient splash__gradient--blue splash__gradient--top-left"></span>
    <span class="splash__gradient splash__gradient--blue splash__gradient--top-right"></span>
    <span class="splash__gradient splash__gradient--brown splash__gradient--bottom-left"></span>
    <span class="splash__gradient splash__gradient--brown splash__gradient--bottom-right"></span>

    <div class="splash__title title">
        <div class="title__part-one">
            Hello
            <span class="title__icon"></span>
        </div>

        <div class="title__part-two">
            Welcome to Magiclick!
        </div>
    </div>
</div>