$gradient-blue: #D7F2FF;
$gradient-brown: #FFDCD5;

$dark-gray: #6A6A6A;
$black: #15111E;
$white: #FFFFFF;
$shadow-white: #F1F1F1;
$light-gray: #F5F6FE;
$gray: #AAAAAA;
$thin-gray: #E8EAFC;
$purple: #623CE7;