<div class="create-campaign__stepper stepper">
    <div class="stepper__item stepper__item--active"></div>
    <div class="stepper__item"></div>
    <div class="stepper__item"></div>
</div>

<div class="modal">
    <div class="modal__title">
        Create your campaign
    </div>

    <div class="create-campaign__actions">
        <div class="create-campaign__card create-campaign__card--add">
            <img src="../../../assets/images/picture/create-campaign.svg" alt="Create campaign">

            Create campaign
        </div>

        <div class="d-flex">
            <div class="create-campaign__card mr-16">
                Launched campaigns
            </div>

            <div class="create-campaign__card">
                Сampaign archive
            </div>
        </div>
    </div>
</div>

<button class="create-campaign__next btn btn--black">Next step</button>