<span class="modal__close"></span>

<h2 class="modal__title">
    Log In
</h2>

<form class="authorization__form form" action="">
    <div class="form__inputs">
        <input class="form__input" placeholder="Your email" type="email">

        <div class="form__input-password">
            <input class="form__input" placeholder="Create your password" type="password">
            <span></span>
        </div>
    </div>

    <button class="btn btn--black">Log In</button>
</form>

<span class="authorization__line">or</span>

<div class="authorization__with">
    <button class="btn btn--white">
        <span class="btn__icon btn__icon--google"></span>
        Sign in with Google
    </button>

    <button class="btn btn--white">
        <span class="btn__icon btn__icon--facebook"></span>
        Sign in with Facebook
    </button>
</div>

<span class="authorization__subtext">
    Forgot your password?
    <a href="#" class="authorization__link">Reset password</a>
</span>