<div class="content__title title">
    <div class="title__part-one">
        Hello

        <img class="title__icon" src="../assets/images/icons/Waving Hand.svg" alt="Waving hand">
    </div>

    <div class="title__part-two">
        Welcome to Magiclick!
    </div>
</div>

<div class="content__subtitle">
    Attract new customers with our service. We guarantee you sales growth
</div>

<div class="content__actions">
    <button class="btn btn--black">
        Register
    </button>

    <button class="btn btn--white">
        I alredy have an account
    </button>
</div>

<div class="personage" w3-include-html="./components/personage.html">
</div>